@import '../../index.scss';

.weather {
	background-color: #067CFD;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			filter: brightness(75%);
		}
}

$themes: (
	Clear-d: #FFF,
	Clouds-d: #FFF,
	Rain-d: #FFF,
	Thunderstorm-d: #FFF,
	Snow-d: #FFF,
	Haze-d: #FFF,
	Fog-d: #FFF,
	Mist-d: #FFF,
	Clear-n: #FFF,
	Clouds-n: #FFF,
	Rain-n: #FFF,
	Thunderstorm-n: #FFF,
	Snow-n: #FFF,
	Haze-n: #FFF,
	Fog-n: #FFF,
	Mist-n: #FFF
);

@each $key, $value in $themes {
	@include weatherTheme($key, $value)
}