@import '../../index.scss';

.current-container {
	position: relative;
	display: flex;
	width: 80%;
	height: $baseSize * 29.5;
	margin-bottom: $baseSize * 10;
}

.current-forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

		p {
			font-size: $baseSize * 4;
		}

		h1 {
			font-size: $baseSize * 10;
		}
}

.current-icon {
	margin-left: $baseSize * 13;

	img{
		width: $baseSize * 24;
	}
}

