@import '../../index.scss';

* {
	margin: 0;
}

main {
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	// background: url('../../Assets/Sunny.jpeg') no-repeat center center;
}
$themes: (
	Clear-d: #FFF,
	Clouds-d: #000,
	Rain-d: #FFF,
	Thunderstorm-d: #FFF,
	Snow-d: #000,
	Haze-d: #000,
	Fog-d: #FFF,
	Clear-n: #FFF,
	Clouds-n: #FFF,
	Rain-n: #FFF,
	Thunderstorm-n: #FFF,
	Snow-n: #000,
	Haze-n: #FFF,
	Fog-n: #FFF
);

@each $key, $value in $themes {
	@include weatherTheme($key, $value)
}
