@import '../../index.scss';

.hourly-forecast-container {
	display: flex;
	align-items: center;
	overflow-x: scroll;
}

.hourly-card {
	margin-right: $baseSize * 30;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: $baseSize * 28;
	font-size: $baseSize * 3;
	padding-bottom: $baseSize * 2;
	padding-top: $baseSize * 2;
}