@import '../../index.scss';

.home {
	background-color: #067CFD;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;

	h1 {
		margin-top: $baseSize * 10;
		font-size: $baseSize * 10;
		color: white;
	}
}

.search-city-home {
	margin-top: $baseSize * 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

	h2 {
		font-size: $baseSize * 3.5;
		color: darken(#fff, 10%);
	}

	div {
		margin-top: $baseSize * 5;
		height: $baseSize * 10;
		width: $baseSize * 55;

		input {
			color: white;
			width: $baseSize * 43;
			font-size: $baseSize * 4;
			border-radius: $baseSize * 1.5;
			outline: none;
		}

		label {
			font-size: $baseSize * 3.5;
			width: 100%;
		}
	}
}

/*~~~~~~Media Queries~~~~~~*/
@media screen and (max-width: 540px) {
	.home > h1 {
		font-size: $baseSize * 5;
	}

	.search-city-home > h2 {
		font-size: $baseSize * 2.5;
	}

	.search-city-home > div {
		margin-top: $baseSize * 2;
		width: $baseSize * 40;

		div {
			width: $baseSize * 40;
		}

		label {
			font-size: $baseSize * 2;
			width: $baseSize * 19;
		}
	}
}