@import '../../index.scss';

.daily-forecast-container {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	overflow-y: none;
}

.daily-card {
	margin-right: $baseSize * 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}